doctype html
html
  head
    //- title AuthApp
    link(rel='stylesheet', href='./../styles/style.css')
  body
    header
      nav
        a(href='/') HOME
        a(href='/sign-up') SIGN UP
    block content
