body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

li {
  margin: 1em;
}

div {
  margin: 0.5em;
}

p {
  margin: 0;
}

span {
  font-weight: normal;
}
