* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;

  header {
    background-color: darkblue;

    nav {
      display: flex;
      gap: 10px;
      padding: 10px;

      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  main {
    padding: 10px;

    h2 {
      padding-top: 10px;
      padding-bottom: 10px;

      .category {
        color: red;
        text-transform: uppercase;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .form-field {
        display: flex;
        flex-direction: column;
        width: fit-content;
      }

      button {
        width: fit-content;
      }
    }

    ol {
      padding-left: 20px;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      li {
        font-size: 12px;
        color: gray;

        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.704);
          text-transform: uppercase;
          font-weight: normal;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}
