doctype html
html
  head
    title E-Shop
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/') Home
      a(href='/category/create') Add new category
    block content
