doctype html
html
  head
    title E-Shop
    link(rel='stylesheet', href='/styles/style.css')
  body
  header
    nav
      a(href='/') Home
      a(href='/catalog/category/all') All categories
      a(href='/catalog/category/create') Add new category
  main
    block content
