doctype html
html
  head
    title E-Shop
    link(rel='stylesheet', href='/styles/style.css')
  body
  header
    nav
      a(href='/') Home
      a(href='/catalog/category/all') All categories
      a(href='/catalog/category/create') Add new category
      a(href='/catalog/product/create') Add new product
      a(href='/catalog/manufacturer/create') Add new manufacturer
      //- a(href='/catalog/category/delete') Delete category
  main
    block content
