doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Mini Message Board
    nav
      a(href='/') Home
      a(href='/message/new') Add new message
    block content
