mixin message(message)
    div
      p Content: #[span #{message.text}]
    div
      p Author: #[span #{message.author}]
    div
      p Timestamp: #[span #{moment(message.date).format('HH:MM, DD.MM.YYYY')}]

